<!-- templates/teachers.html -->
{% extends 'base_docente.html' %}

{% block title %}Estudiantes{% endblock %}

{% block content %}
<div class="container-fluid">
  <h1 class="h3 mb-4 text-gray-800">Estudiantes</h1>

  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
      <h6 class="m-0 font-weight-bold text-primary">Listado de Estudiantes</h6>      
    </div>
    <div class="card-body">
      <!-- Tabla con la clase DataTable -->
      <table id="studentsTable" class="display" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Nro</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>CI</th>            
            <th>Genero</th>            
            <th>Celular</th>
                       
            <th>estado</th>            
                        
          </tr>
        </thead>
        <tbody>
          {% for student in students %}
          <tr>
            <td>{{ student[0] }}</td>
            <td>{{ student[1] }}</td>
            <td>{{ student[2] }}</td>
            <td>{{ student[3] }}</td>
            <td>{{ student[4] }}</td>
            <td>{{ student[5] }}</td>                     
            <td><span class="badge badge-success">{{ student[7] }}</span></td>                                                
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function () {
    $("#studentsTable").DataTable({
      order: [[0, 'desc']], // Ordenar la columna 0 (ID) de forma descendente
      language: {
        url: '//cdn.datatables.net/plug-ins/2.1.8/i18n/es-MX.json',
      }
    });
  });
</script>
{% endblock %}

