html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Css bottoones */
/* Cambiar el color de los botones */
.dt-button {
  background-color: #007bff; /* Azul */
  color: white; /* Texto blanco */
  border-radius: 4px; /* Bordes redondeados */
}

/* Cambiar el color al pasar el mouse */
.dt-button:hover {
  background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
}

/* Cambiar el color del botón específico de Excel */
.dt-button-collection .dt-button-collection-item.excelHtml5 {
  background-color: #28a745; /* Verde para Excel */
}

/* Cambiar el color del botón específico de PDF */
.dt-button-collection .dt-button-collection-item.pdfHtml5 {
  background-color: #dc3545; /* Rojo para PDF */
}
